<main>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-light mb-3" style="max-width: 18rem">
        <div class="card-header">Dividas Ativas</div>
        <div class="card-body">
          <p class="card-text">{{ qtddividasatividas }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light mb-3" style="max-width: 18rem">
        <div class="card-header">Valor Pendente</div>
        <div class="card-body">
          <p class="card-text">
            {{ valortotaldividasativas | currency : "BRL" }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light mb-3" style="max-width: 18rem">
        <div class="card-header">Total Emprestado</div>
        <div class="card-body">
          <p class="card-text">{{ totalemprestado | currency : "BRL" }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
