<figure class="text-center">
  <blockquote class="blockquote">
    <p>Lista de Devedores</p>
  </blockquote>
</figure>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Total</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of this.devedores">
        <td>{{ d.id}}</td>
        <td>{{ d.nomeourazaosocial | uppercase }}</td>
        <td>{{ d.totaldividas | currency: "BRL"  }}</td>
        <td>{{ d.qtddividas}}</td>
        <td>{{ d.statusdividas}}</td>
      </tr>
    </tbody>
  </table>
</div>
