<figure class="text-center">
  <blockquote class="blockquote">
    <p>Sobre</p>
  </blockquote>
</figure>
<div class="d-flex justify-content-center">
  <p class="text-center w-50 p-3">Devido as inúmeras ocupações no cotidiano, realizamos diversas tarefas das quais não
    damos a devida atenção, uma delas é o empréstimo de dinheiro para outras pessoas, algo que momentaneamente pode não
    fazer falta, principalmente quando o valor referente é baixo, mas, quando somado, pode representar um valor
    significativo e vir a ser necessário no futuro. O intuito do aplicado é controlar e monitorar o dinheiro emprestado,
    seja para pessoa física ou jurídica, estando com dívida ativa ou não.</p>
</div>
<div class="d-flex justify-content-center">
  <p>
    <img src="../assets/img/logo.PNG" class="img-fluid">
  </p>
</div>
